<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <div th:replace="~{layout :: head}"></div>
  <title>Active listings</title>
</head>
<body>
<div th:replace="~{layout :: navbar}"></div>
<div th:replace="~{layout :: messages}"></div>
<div class="container mt-4">
  <h2>Active Listings</h2>
  <h2 th:if="${categoryid}" th:text="'Category: ' + ${categoryid}"></h2>
  <div th:each="listing : ${activeListings}" class="row">
    <div class="col-sm-12">
      <div class="card mb-2 w-100" style="height:300px;" th:onclick="window.location.href='/listing/' + [[${listing.id}]]">
        <div class="card-body row">
          <div class="col-sm-9">
            <h6>Category: <span th:text="${listing.category.name}"></span></h6>
            <h2 th:text="${listing.name}"></h2>
            <h4>Starting Price: $<span th:text="${listing.startingBid}"></span></h4>
            <p th:text="${listing.description}"></p>
            <h6>Created by : <span th:text="${listing.auctioneer.username}"></span></h6>
          </div>
          <div class="col-sm-3 text-right">
            <img class="img-fluid card-img index-img" th:src="${listing.image}" alt="No image found">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>